h1 {
  display: block;
  margin: 0 auto;
  top: 5px;
  position: relative;
  max-width: 500px;
  padding: 10px;
  text-align: center;
  background-color: white;
  color: #ea4c89;
  border-radius: 30px;
}

body {
  font-family: "Gill Sans";
  color: white;
}

h2 {
  display: block;
  font-size: 22px;
  font-weight: 100;
  line-height: 26px;
  margin-bottom: 0;
  max-width: 300px;
}
p {
  color: #ea4c89;
  text-transform: capitalize;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  display: block;

  max-width: 700px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  color: white;
  background-color: black;
  border: 10px solid;
  border-radius: 30px;
  max-height: 800px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 10px;
  float: left;
  height: 180px;
  width: 180px;
}

.weather-temperature strong {
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
}

.weather-app .active {
  color: black;
  cursor: default;
}

.weather-app .active:hover {
  text-decoration: none;
}
.location {
  max-width: 200px;
  padding: 15px;
  margin: 10px;
}

.search-bar {
  position: relative;
  display: inline;
  margin: 0 auto;
  top: 50px;
  padding: 0px;
  max-width: fit-content;
}

.btn-primary {
  color: #fff;
  background-color: #ea4c89;
  border-color: #f082ac;
}

.btn-primary:hover {
  color: #fff;
  background-color: #f082ac;
  border-color: #635d9a;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 3px rgba(99, 93, 154, 0.5);
}

.icon {
  font-size: 50px;
  padding: 10px;
  color: #635d9a;
}
.icon:hover {
  color: white;
}

.button-1 {
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #f082ac;
  font-size: 20px;
  transition: all 150ms ease-in-out;
}

.current {
  position: relative;

  color: white;
  border-radius: 60px;
  padding: 80px 80px;
  max-width: 400px;
  max-height: 100px;
  margin: 0;
  border: #ea4c89;
  border-width: 100px;
}

.d-flex {
  position: relative;
  top: -80px;
  margin: 0 auto;
}

.weather-image {
  position: relative;
  top: -20px;
}

.units {
  position: relative;
  top: 5px;
  left: -30px;
  font-size: 68px;
}

.metrics {
  position: relative;
  top: -210px;
  left: 390px;
}

.forecast {
  position: relative;
  top: -235px;
  text-align: center;
}
.nextdays {
  font-size: 30px;
  text-transform: capitalize;
  position: relative;
  left: -200px;
}

.text-center {
  position: relative;
  top: 30px;
  padding-bottom: 55px;
}

.forecast-temp-min {
  opacity: 0.6;
}
